/*link pagina google font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:wght@600&display=swap");
/*selector universal y font de la pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5px 100px;
  display: flex;
  background-color: #444444a4;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
/*Color logo h2 NDERSON*/
.logo {
  font-size: 2rem;
  color: #bdbdbd;
  cursor: default;
  margin-left: -30px;
}
/*Color logo span h2 "A"*/
.logo span {
  color: #ffe600;
}
/*Dimensión barra navegación */
#menu {
  flex-grow: 10;
  flex-basis: 30%;
  height: 100%;
  padding-right: 20px;
  margin-left: 40px;
}
#menu > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  list-style: none;
}
/*color link y ubicación barra navegación*/
#menu a {
  font-size: 0.9rem;
  color: #dadadaa4;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  transition: 0.3s;
}
/*color link barra navegacion sobre click*/
#menu a:hover {
  color: #ffe600;
}
/*color  y ubicación fuente menu contacto*/
.btb-talk {
  color: #555;
  text-decoration: none;
  padding: 8px 35px;
  background: #ffe600;
  border-radius: 10px;
  border: 2px solid #ffe600;
  font-weight: 500;
  transition: 0.3s;
}
/*Background  transparente fuente menu Contacto*/
.btb-talk:hover {
  color: #ffe600;
  background: transparent;
}

/*Background imagen */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("img/joven-pelo-oscuro-gafas-trabajando-computadora-su-escritorio-oficina-viste-camisa-azul-sonrie-camara-vista-lateral.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 100px 100px;
}
/*color de <p> y <h2>Hola Soy */
#content {
  max-width: 500px;
  color: #000000;
  margin-top: 10%;
}
/*tamaño <h2>Hola Soy <span>Anderson Perez</span></h2>*/
#content h2 {
  font-size: 3rem;
}
/*color <span>Anderson Perez</span> */
#content h2 span {
  color: #f7de05;
}
/*tamaño <h4>Frontend Developer</h4> */
#content h4 {
  font-size: 2rem;
}
/*tamaño <p>*/
#content p {
  padding: 10px 0 40px 0;
}

/*Background fuente menu REDES SOCIALES*/
.btb-group a {
  color: #424242;
  text-decoration: none;
  padding: 10px 40px;
  background: #ffe600;
  border-radius: 10px;
  border: 2px solid #ffe600;
  font-weight: 500;
  transition: 0.3s;
}
/*Background  transparente fuente menu contrátame*/
.btb-group a:hover:nth-child(1) {
  color: #ffe600;
  background: transparent;
}
/*Background  fuente menu ver ESTUDIOS*/
.btb-group a:nth-child(2) {
  color: #ffe600;
  background: transparent;
  margin-left: 30px;
  padding: 10px 30px;
}
/*Background transparente fuente menu ver ESTUDIOS*/
.btb-group a:hover:nth-child(2) {
  color: #555;
  background: #ffe600;
}
/*Perfil dimensiones */
#perfil {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 80%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 5%;
}
/*Color parrafo perfil */
.perfil {
  flex-grow: 1;
  flex-basis: 220px;
  color: #555;
  margin-bottom: 25px;
  margin-left: 30%;
  margin-left: 5%;
  margin-top: 90px;
}
/*Perfil color titulo PERFIL "P" */
.perfil span {
  color: #ffe600;
}

/*skills dimensiones */
#Skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 80%;
  margin-top: -1%;
  margin-left: 20%;
}

/*Color parrafo Skills */
.Skills {
  flex-grow: 1;
  flex-basis: 220px;
  color: #555;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-top: 80px;
}
/*Perfil color titulo skills "S" */
.Skills span {
  color: #ffe600;
}

/*Experiencia dimensiones */
#Experiencia {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 80%;
  margin-top: -2%;
  margin-left: 4%;
  margin-bottom: 10%;
}
/*Color parrafo Experiencia */
.Experiencia {
  flex-grow: 1;
  flex-basis: 220px;
  color: #555;
  margin-right: 4%;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-top: 60px;
}
/*Perfil color titulo Experiencia "E" */
.Experiencia span {
  color: #ffe600;
}
/*Experiencia dimensiones */
#Estudios {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 80%;
  margin-top: -12%;
  margin-left: 20%;
  margin-bottom: 4%;
}
/*Color parrafo Experiencia */
.Estudios {
  flex-grow: 1;
  flex-basis: 220px;
  color: #555;
  margin-right: 4%;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-top: 30px;
}
/*Perfil color titulo Experiencia "E" */
.Estudios span {
  color: #ffe600;
}
/*tamaño iconos*/
.social-icons {
  position: absolute;
  bottom: 50px;
  margin-left: 10%;
  margin-bottom: -3%;
}
/*posición y color iconos*/
.social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #ffe600;
  border-radius: 50%;
  margin-right: 22px;
  text-align: center;
  line-height: 35px;
  transition: 0.3s;
}
/*flotación de iconos sobre el eje Y*/
.social-icons a:hover {
  transform: translateY(-5px);
}
/*color iconos FACEBOOK INSTAGRAM LINKEDIN*/
.social-icons a i {
  color: #303030;
}
/*color Background FOOTER*/
#footer {
  display: flex;
  flex-flow: row wrap;
  background-color: #ffe600;
  justify-content: flex-start;
  height: 120px;
  align-items: center;
  border-top: 1px solid rgb(225, 225, 226, 0.8);
}
/*color LOGO Y UBICACIÓN PORTAFOLIO*/
#footer .logo {
  opacity: 0.7;
  flex-basis: auto;
  flex-grow: 1;
  order: 2;
  text-align: right;
  color: #474747;
  margin-right: 10%;
}
/*color Y UBICACIÓN Curriculum vitae*/
#footer .info {
  flex-grow: 1;
  order: 1;
  margin-left: 40px;
  color: #474747;
}
/*responsive*/
@media (max-width: 1334px) {
  header {
    text-align: center;
  }
  #menu > ul {
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 20px;
  }
}
@media (max-width: 646px) {
  #footer .logo {
    flex-grow: 1;
    order: 1;
    flex-basis: 100%;
    text-align: center;
  }
  #footer .info {
    flex-grow: 1;
    order: 2;
    margin-left: 20px;
    color: #444;
    flex-basis: 100%;
    text-align: center;
  }
  #content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
