.div {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: primeraAnimacion 10s;
    -webkit-animation: primeraAnimacion 10s;
    position: relative; 
}

@keyframes primeraAnimacion {
    0% { background-color: blue; left: 0px; top: 0px; transform: rotate(0deg); }
    20% { background-color: red; left: 100px; top: 0px; transform: rotate(45deg); }
    50% { background-color: yellow; left: 100px; top: 100px; transform: rotate(90deg); }
    75% { background-color: green; left: 0px; top: 100px; transform: rotate(134deg); }
    100% { background-color: blue; left: 0px; top: 0px; transform: rotate(180deg); }
}

@-webkit-keyframes primeraAnimacion {
    0% { background-color: blue; left: 0px; top: 0px; transform: rotate(0deg); }
    20% { background-color: red; left: 100px; top: 0px; transform: rotate(45deg); }
    50% { background-color: yellow; left: 100px; top: 100px; transform: rotate(90deg); }
    75% { background-color: green; left: 0px; top: 100px; transform: rotate(134deg); }
    100% { background-color: blue; left: 0px; top: 0px; transform: rotate(180deg); }
}