h1 {
    color: red;
}
*{
    background-color: rgb(164, 233, 206);
}
h2{
    color: brown;
}
p{
    color: blue;
}
li{
    color: blue;
}
.verde{
    color: rgb(7, 136, 39);
    background-color: rgb(164, 233, 206);
}
span{
    background-color: black;
    color: white;
}
