
*{
    padding: 0;
    margin: 0;
}
h2{
    text-align: justify;
    color: gray;
    padding: 20px;
}
h1{
    text-align: justify;
    color:black;
    padding: 6px;
}
nav ul{
    margin-top: 12px;
    background-color: rgb(194, 186, 186);
    width: 98%;
    list-style: none;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
}
nav li{
    display: inline-flex;
}
nav a{
    padding: 30px;
    width: 150px;
}
nav li:hover {
    background-color: black;
}
img{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin-right: 10px;
    margin-top: 45px;
    
   
}
.contenido{
    display: flex;
    margin: 20px;
    
}
.secciones1{
border: 2px solid rgb(14, 13, 13);
margin-top: 10px;
display:flex;
border-radius: 10px 10px 10px 10px;
height: 250px;
width: 1000px;
background-color: rgb(226, 221, 221);
}
.secciones{
    border: 2px solid rgb(14, 13, 13);
    margin-top: 3px;
    display:flex;
    border-radius: 10px 10px 10px 10px;
    height: 250px;
    width: 1000px;
    background-color: rgb(226, 221, 221);
    text-align: left;

}
.articulos{
    width: 80%;
    
    
   
}
span{
    color: black;
    
}
.titulo1{
    text-align: center;
    margin-top: 40px;
    margin-right: 40px;
}
.menu-secundario{
    display: block;
    border: 2px solid black;
    width: 300px;
    height: 450px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(226, 221, 221);
    margin-left: 20px;
    margin-right: 20px;
   

}
footer{
    text-align: center;
    margin-top: 40px;
   border-top:2px solid black;
   width: 98%;
   margin-left: 20px;
}
#inicio{
    margin-top: 20px;
    width: 98%;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(14, 13, 13);
}
#secu{
    
    text-align: center;
}
.imgr{
    float: left;
    width: 100px;
    height: 110px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: -10px;
    
}
.img2{
    float: right;
    width: 300px;
    height: 200px;
    margin-right: 200px;
    margin-left: -600px;
    margin-top: 10px;
    border: none;
    
}
.img3{
    float: left;
   margin-left: 200px;
   margin-right: -600px;
   height: 200px;
   width: 300px;
   border: none;
   margin-top: 10px ;
    
}
input{
   
   margin-left: 10px;
    float: left;
    text-align: left;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid black;
}
label{
    
    float: left;
}


