/* font-family: 'Fjalla One', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif; */
/* Header */
@import url('https://fonts.googleapis.com/css2? family= Fjalla+One & family= Oswald:wght@400;500;600;700 & family= Poppins:wght@400;500; 600;700;800 & mostrar=intercambiar');

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Cuerpo */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
/* Imagenes resposive */
img{
    max-width: 100%;
    
}
/* Contenedor */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
/* Header */
.header{
    display: flex;
    align-items: center;
    background-image: url(banner.jpeg);
    padding: 100;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
/* Menu parte de arriba */
.menu{
    
    max-width: 2000px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }
    .logom{
        margin-left: 20px;
        border-radius: 360px;
        width: 60px;
    }

/* Estilo enlaces */
.menu .navbar ul li{
    position: relative;
    
    float: left;
    list-style: none;
    }
    .menu {
        float: left;
    }

.menu .navbar ul li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px;
    color: #000000;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
    
}
/* Cambio de color enlaces */
.menu .navbar ul li a:hover{
    color:#5ad284;
}
#menu{
    display: none;
}
.menu-icono{
    width: 50px;
}
.menu label {
    cursor: pointer;
    display: block;
}
/* CARRITO */
.submenu{
    /*border: 2px solid black;*/
    position: relative;
    margin-right: 50px;
    list-style: none;
   
}
/* Corre el carro para la derecha sin el se va a la izquierda ese es 
el cambio pero no es un flex ni float ni grid */
.submenu #carrito{
    display: none;
    
}
/* Estilo submenu y carro */
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter:blur(10px);
    top: 100%;
    z-index:1;
    background-color: #9b979e76;
    padding: 20px;
    min-width: 400px;
    
}
/* Tablas */
table{
    width: 100%;
}
th, td{
    color: #ffffff;
}
/* BOTONES REGISTRO INICIAR SESION */
.btn-0 {
    background-color: #9bce21;
   margin-top: 5px;
   display: inline-block;
   padding: 12px 20px;
   border-radius: 55px;
   color: #000000;
   font-size: 16px;
   cursor: pointer;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   margin-left: 40px;
   text-align: right;
   margin-bottom: 5PX;
   font-family: 'Fjalla One', sans-serif  ;
   font-weight: bold;
}
/* ↑Esto resalta el registar y iniciar sesion ↑*/
.btn-0:hover {
    background-color: #13462e;
 }
.borrar{
    background-color: #9bce21;
    border-radius: 50%;
    padding: 5px 10 px;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
}/*Toca con JAVASCRIPT*/
/* HeADER CONTENIDO */
.header-content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-txt{
    flex-basis: 50%;
    margin-right: 25px;
}
.oferts h1{
    color: #9bce21;
    background-color: #ffffff;
}
span{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    display: block;
    margin-bottom: 25px;
    margin-left: 40px;
}
.header-txt h1{
    font-size: 70px;
    text-transform: capitalize;
    line-height: 1;
    color: #9bce21;
    margin-bottom: 35px;
    margin-left: 40px;
    

}
.header-txt p{
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 35px;
    margin-left: 40px;
}
/* Estilo botones */
.butons{
    display: flex;
    }
.btn-1{
    display: inline-block;
    padding: 13px 25px;
    background-color: #9bce21;
    margin-right:20px ;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 100px;
    margin-left: 40px;
}
/* Estilos imagen */
.header-img{
    flex-basis: 50%;
    width: 200px;
    height:20px ;
    text-align: center;
    margin-top: -350px;
   
}
.header-img img{
    border-radius: 130px;
    height: 400px;
}
.Somos{
    
    margin-bottom: 10px;
    /*border: 5px solid red;*/
    margin-top: 50px;
    text-align: center;
    padding: 5px 5px 5px;
}
.What-Person-1{
    display: flex;
    /*border: 1px solid #000000; /*Quitar*/
    padding: 50x;
    margin: 20px;
    /*background-color: #13462e;/*Quitar*/
    /*justify-content: space-between;*/
}

.What-Person-1 h1{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    margin: 20px;
    /*border: 1px solid black;*/
    padding: 20px;
}
.What-Person-1 p{
    text-align: justify;
    margin: 20px;
    /*border: 1px solid black;*/
    padding: 20px;
}
.What-Person-1 img{
    /*border: 1px solid black;*/
    border-radius: 100%;
    margin-inline-end: auto;
    margin-right: 200px;
    text-align: center;
    
}

.What-Person-2{
    display: flex;
    /*border: 1px solid green; /*Quitar*/
    padding: 50px;
    margin: 20px;
    /*background-color: pink;*/
    justify-content: space-between;
}

.What-Person-2 img{
    
    /*border: 1px solid black;*/
    border-radius: 100%;
    margin: 20px;

    text-align: center;
}
.Mision{
    
    /*border: 5px solid red;*/
    text-align: justify;
}
.What-Person-2 h1{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    margin: 20px;
    /*border: 1px solid black;*/
    padding: 20px;
}
.What-Person-2 p{
    text-align: justify;
    margin: 20px;
    /*border: 1px solid black;*/
    padding: 20px;
}



/* Estilos seccion de ofertas */
.oferts{
    
    padding: 100px 0;
    display: block;
    justify-content: space-between;
}
.oferts h1 {
    text-align: center;
font-size: 40px;

}
.eco2{
    height: 200px;
    float: right;
    width: 360px;
}
.img100{

    align-items: center;
    width: 200px;
    height: 100px;
    margin-top: 3px;
    margin-left: 10%;
}
.ofert-1{
    float: block;
    padding: 4px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.somos{
    
    margin-top: 40px;
    height: 500px;
    margin-left: -100px;
    width: 300px;
    float: right;
    
}


.b1{
    
    margin-top: 40px;
   width: 850px;
    
    background-color: white;  
    
}
.b2{
    width: 800px;
    height: 300px;
    margin-top: 10px;
}
.b3{
    text-align: justify;
    margin-top: 10px;
    margin-left: -25px;
   background-color:white;
    }
.img1{
    height: 300px;
    width: 1000px;
}
.text-justify{
    text-align: justify;
}

/*.oferts{
    padding: 0 0 50px 0;
    text-align: center;

}
h2{
    margin-top: 200px;
    font-size: 40px;
    color: #111419;
}*/
.ofert-txt{
    margin-left: 20px;
    flex-basis: 50%;
}
.ofert-txt h3{
    color: black;
    font-size: 20px;
}
.ofert-txt a {
    color: black
}
.ofert-img {
    flex-basis: 50% ;
}
/* Estilo productos */
.products{
    padding: 0 0 50px 0;
    text-align: center;
}
h2{
    font-size: 40px;
    color: #9bce21;
}
.box-container{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
}
/* Estilos a la caja */
.box{
    border-top: 2px solid #9bce21;
    padding: 20px;
    border-radius: 15px;
    box-shadow:0 5px 10px rgb(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: none;
    
}
/* Cargar solo unos productos */
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6),
.box:nth-child(7),
.box:nth-child(8){
    display: block;
}

.box img{
    height: 200px;
}
.product-txt h3{
    font-size: 20px;
    color: #111419;
    margin-bottom: 10px;
}
/* Parrafo en producto */
.product-txt p{
    margin-bottom: 25px;
    color: #515557;
}
.precio {
    font-size: 17px;
    font-weight: 700;
    color: #ff9100 !important;    
}
/* Estilo botones 1 2 3 */
.btn-2, .btn-3{
    background-color: #9bce21;
    margin-top: 50px;
    display: inline-block;
    padding: 11px 35px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-2:hover, .btn-3:hover,.btn-1:hover {
    background-color: #13462e;

}
.btn-3{
    margin: 0;
    padding: 8px 25px;
    border-radius: 5px;
}
/* Estilo comentarios de clientes testimoniales */
.testimonial{
    margin-top: -100px;
    padding: 100px 0;
    text-align: center;
}
.testimonial-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.testimonial-1{
    flex-basis: calc(50% - 20px);
    padding: 50px;
    text-align: left;
    background-color: #f6fafb;
    border-top: 3px solid #9bce21;
    
}
.testimonial-1 img{
    width: 100px;
}
.testimonial-1 h4{
    font-size: 17px;
    color: #111419;
}
.testimonial-1 p{
    color: #515557;
    margin-bottom: 25px;
}
/* Footer */
.footer{
    background-color: #000000;
    padding: 100px 0;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px;
}
.link a {
    color:#AEAFAF;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: #9bce21;
}
/* Contactenos estilos */
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 20px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: #9bce21;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #9bce21;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #9bce21;
}
.container-form .btn-enviar:hover{
    background: #13462e;
}

@media (max-width:991px) {
    .menu{
        padding: 20px;
    }
    .menu label{
        width: 60px;
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #daf6f9;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo{
        width: 100px;
        display: none;
    }
    .menu .navbar ul li a:hover{
        color:#6aaed8 ;
    }
    .submenu:hover #carrito{
        width: 100%;
    }

    .header{
        
        padding: 50px 0 0 0;
    }

    .header-content{
        padding: 30px;
        flex-direction: column;
        text-align: center;

    }
    .header-txt{
        margin: 0;/*Correción*/
    }
    .butons{
        justify-content: center;
    }
    .btn-1{
        margin-bottom: 0;
    }
    .header-img{
        display: none;
    }
    .oferts {
        padding: 30px;
        flex-direction: column;
    }
    .img100{
        display: none;
        width: 100px;
    }
    
    .eco{
        display: none;
        width: 100px;
        
    }
    .eco2{
        display: none;
        width: 100px;
        
    }
    .img1{width: 400px;}
    
    .ofert-1{
        margin-bottom: 15px;
    }
  
    .products{
        padding: 0 30px 30px 30px;
    }

    .testimonial{
        margin-top: 20px;
        padding: 30px;
    }
    .testimonial-content{
        margin-top: 20px;
        flex-direction: column;
    }
    .text-justify1{
        width: 400px;
    }
    .testimonial-1{
        padding: 25px;
        margin-bottom: 25px;
    }
    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    .info-form{
        width: 170px;
    }
    
}
